%h1 Seasons

%table
  - @seasons.each do |s|
    %tr
      %td= link_to "#{s.year}", admin_season_path(s)
      %td= s.start_date
      %td= s.end_date

=link_to "New", new_admin_season_path
=link_to "Admin", admin_path
