%h1 Seasons


= div_for(@seasons) do |season|
  #{season.year}: #{season.start_date.strftime('%b \'%y')} - #{season.end_date.strftime('%b \'%y')}


=link_to "New", new_admin_season_path
=link_to "Admin", admin_path
