// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.adminusers {
  border-spacing: 3px;
  td, th {
    padding: 4px 10px;
    background-color: WhiteSmoke;
    text-align: left;
  }
  .slots {
    text-align: center;
  }
  .used {
    background-color: PaleGreen;
    color: DarkGreen;
  }
  .full {
    background-color: LightPink;
    color: Red;
  }
  .link {
    background-color: transparent;
    padding: 4px;
    font-size: 85%;
  }
}
