%h1 Users

- if @admin_users
  %h2 
    Admin Users
  = render 'users_table', { users: @admin_users, admin: true }

- @seasons.each do |s|
  %h2
    Season: #{s.year}
  = render 'users_table', { users: s.users, admin: false }



